<div class="ps__mobile__head" data-test-id="ember-power-select-mobile-nav">
  <div class="ps__mobile__head__spacer">
    <button class="ps__mobile__head__btn chevron {{if buttonText 'has-text'}}" {{action "done"}} data-test-id="ember-power-select-mobile-nav--done">{{buttonText}}</button>
  </div>
  <h1 class="ps__mobile__head__title t-mobile-filter-title" data-test-id="ember-power-select-mobile-nav--title">{{labelText}}</h1>
  <div class="ps__mobile__head__spacer"></div>
</div>

{{#if searchEnabled}}
  <div class="ps__mobile__search">
    <input type="search" autocomplete="off"
      autocorrect="off" autocapitalize="off"
      spellcheck="false" role="combobox"
      class="ember-power-select-search-input"
      value={{select.searchText}}
      aria-controls={{listboxId}}
      placeholder={{searchPlaceholder}}
      oninput={{onInput}}
      onfocus={{onFocus}}
      onblur={{onBlur}}
      onkeydown={{action "onKeydown"}}>
  </div>
{{/if}}
